In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os
import seaborn as sns

In [3]:
os.chdir("D:\\study\\Gmu\\sem2\\Ait-664\\Final Proj")

### Loading the data sets

In [4]:
data1 = pd.read_csv("police_shootings.csv")
data1.head()

,Person.Name,Person.Age,Person.Gender,Person.Race,Incident.Date.Month,Incident.Date.Day,Incident.Date.Year,Incident.Date.Full,Incident.Location.City,Incident.Location.State,Factors.Armed,Factors.Mental-Illness,Factors.Threat-Level,Factors.Fleeing,Shooting.Manner,Shooting.Body-Camera
0,Tim Elliot,53,Male,Asian,1,2,2015,2015/01/02,Shelton,WA,gun,True,attack,Not fleeing,shot,True
1,Lewis Lee Lembke,47,Male,White,1,2,2015,2015/01/02,Aloha,OR,gun,True,attack,Not fleeing,shot,True
2,John Paul Quintero,23,Male,Hispanic,1,3,2015,2015/01/03,Wichita,KS,unarmed,True,other,Not fleeing,shot and Tasered,True
3,Matthew Hoffman,32,Male,White,1,4,2015,2015/01/04,San Francisco,CA,toy weapon,True,attack,Not fleeing,shot,True
4,Michael Rodriguez,39,Male,Hispanic,1,4,2015,2015/01/04,Evans,CO,nail gun,True,attack,Not fleeing,shot,True

In [5]:
data2 = pd.read_csv("state_crime.csv")
data2.head()

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754
3,Alabama,1963,3347000,1150.9,376.9,683.4,90.6,182.7,142.1,10.2,...,24.7,38521,12614,22874,3033,6115,4755,340,192,828
4,Alabama,1964,3407000,1358.7,466.6,784.1,108.0,213.1,163.0,9.3,...,29.1,46290,15898,26713,3679,7260,5555,316,397,992

In [6]:
data3 = pd.read_csv("HT.csv")
data3.head()

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO0480600,Independence,NaN,City,MO,Missouri,West North Central,JACKSON,Midwest,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,TX2201200,Fort Worth,NaN,City,TX,Texas,West South Central,PARKER; DENTON; TARRANT,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,TX2270100,Austin,NaN,City,TX,Texas,West South Central,WILLIAMSON; TRAVIS,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,NV0020100,Las Vegas Metropolitan Police Department,NaN,City,NV,Nevada,Mountain,CLARK,West,1A,"Cities 1,000,000 or over",81,Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,AZ0070500,Chandler,NaN,City,AZ,Arizona,Mountain,MARICOPA,West,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0

### Removing Unwanted Columns

In [7]:
list(data3.columns)

['DATA_YEAR',
 'ORI',
 'PUB_AGENCY_NAME',
 'PUB_AGENCY_UNIT',
 'AGENCY_TYPE_NAME',
 'STATE_ABBR',
 'STATE_NAME',
 'DIVISION_NAME',
 'COUNTY_NAME',
 'REGION_NAME',
 'POPULATION_GROUP_CODE',
 'POPULATION_GROUP_DESC',
 'OFFENSE_SUBCAT_ID',
 'OFFENSE_NAME',
 'OFFENSE_SUBCAT_NAME',
 'ACTUAL_COUNT',
 'UNFOUNDED_COUNT',
 'CLEARED_COUNT',
 'JUVENILE_CLEARED_COUNT']

In [8]:
ht=data3.drop(labels=['ORI','PUB_AGENCY_NAME',
 'PUB_AGENCY_UNIT',
 'AGENCY_TYPE_NAME','DIVISION_NAME',
 'COUNTY_NAME','POPULATION_GROUP_CODE',
 'POPULATION_GROUP_DESC',
 'OFFENSE_SUBCAT_ID',
 'OFFENSE_NAME'],axis=1)
list(ht.columns)

['DATA_YEAR',
 'STATE_ABBR',
 'STATE_NAME',
 'REGION_NAME',
 'OFFENSE_SUBCAT_NAME',
 'ACTUAL_COUNT',
 'UNFOUNDED_COUNT',
 'CLEARED_COUNT',
 'JUVENILE_CLEARED_COUNT']

In [9]:
list(data2.columns)

['State',
 'Year',
 'Data.Population',
 'Data.Rates.Property.All',
 'Data.Rates.Property.Burglary',
 'Data.Rates.Property.Larceny',
 'Data.Rates.Property.Motor',
 'Data.Rates.Violent.All',
 'Data.Rates.Violent.Assault',
 'Data.Rates.Violent.Murder',
 'Data.Rates.Violent.Rape',
 'Data.Rates.Violent.Robbery',
 'Data.Totals.Property.All',
 'Data.Totals.Property.Burglary',
 'Data.Totals.Property.Larceny',
 'Data.Totals.Property.Motor',
 'Data.Totals.Violent.All',
 'Data.Totals.Violent.Assault',
 'Data.Totals.Violent.Murder',
 'Data.Totals.Violent.Rape',
 'Data.Totals.Violent.Robbery']

In [13]:
list(data1.columns)

['Person.Name',
 'Person.Age',
 'Person.Gender',
 'Person.Race',
 'Incident.Date.Month',
 'Incident.Date.Day',
 'Incident.Date.Year',
 'Incident.Date.Full',
 'Incident.Location.City',
 'Incident.Location.State',
 'Factors.Armed',
 'Factors.Mental-Illness',
 'Factors.Threat-Level',
 'Factors.Fleeing',
 'Shooting.Manner',
 'Shooting.Body-Camera']

In [14]:
ps=data1.drop(labels=['Person.Name','Incident.Date.Full','Factors.Mental-Illness','Shooting.Body-Camera'],axis=1)
list(ps.columns)
ps.dropna()

,Person.Age,Person.Gender,Person.Race,Incident.Date.Month,Incident.Date.Day,Incident.Date.Year,Incident.Location.City,Incident.Location.State,Factors.Armed,Factors.Threat-Level,Factors.Fleeing,Shooting.Manner
0,53,Male,Asian,1,2,2015,Shelton,WA,gun,attack,Not fleeing,shot
1,47,Male,White,1,2,2015,Aloha,OR,gun,attack,Not fleeing,shot
2,23,Male,Hispanic,1,3,2015,Wichita,KS,unarmed,other,Not fleeing,shot and Tasered
3,32,Male,White,1,4,2015,San Francisco,CA,toy weapon,attack,Not fleeing,shot
4,39,Male,Hispanic,1,4,2015,Evans,CO,nail gun,attack,Not fleeing,shot
...,...,...,...,...,...,...,...,...,...,...,...,...
4289,17,Male,Unknown,5,19,2019,Phoenix,AZ,gun,attack,Foot,shot
4290,0,Male,Unknown,5,19,2019,Huron,CA,undetermined,undetermined,unknown,shot
4291,34,Female,Unknown,5,20,2019,Blackwell,OK,gun,attack,Car,shot
4292,46,Male,Unknown,5,20,2019,Archdale,NC,knife,attack,Not fleeing,shot
4293,0,Male,Unknown,5,20,2019,Auburn,WA,knife,other,Not fleeing,shot

In [39]:
sc=data2[data2['Year']>=2015]
sc.head()
sc.dropna()

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
55,Alabama,2015,4858979,328.3,2978.9,725.6,2040.7,472.4,94.9,7.2,...,30.0,15954,144746,35255,99156,22952,4611,348,2039,1456
56,Alabama,2016,4863300,2947.8,700.5,2006.3,241.1,532.3,388.2,8.4,...,96.4,143362,34065,97574,11723,25886,18877,407,1916,4686
57,Alabama,2017,4874747,2957.3,645.7,2048.1,263.4,524.2,387.8,8.3,...,86.5,144160,31477,99842,12841,25551,18902,404,2028,4217
58,Alabama,2018,4887871,2817.2,590.1,1958.9,268.3,519.6,387.6,7.8,...,83.4,137700,28841,95747,13112,25399,18944,383,1996,4076
59,Alabama,2019,4903185,2674.4,531.9,1886.1,256.5,510.8,381.0,7.3,...,80.4,131133,26079,92477,12577,25046,18679,358,2068,3941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Wyoming,2015,586107,179.8,1902.6,300.6,1500.9,222.1,10.1,2.7,...,21.3,1054,11151,1762,8797,1302,59,16,173,125
3111,Wyoming,2016,585501,1957.3,302.5,1518.2,136.6,244.2,195.7,3.4,...,10.1,11460,1771,8889,800,1430,1146,20,205,59
3112,Wyoming,2017,579315,1830.4,275.0,1421.0,134.5,237.5,176.4,2.6,...,13.1,10604,1593,8232,779,1376,1022,15,263,76
3113,Wyoming,2018,577737,1785.1,264.0,1375.9,145.2,212.2,150.6,2.3,...,17.3,10313,1525,7949,839,1226,870,13,243,100
3114,Wyoming,2019,578759,1571.1,241.2,1206.7,123.2,217.4,147.6,2.2,...,11.6,9093,1396,6984,713,1258,854,13,324,67

In [16]:
ht=ht[ht['DATA_YEAR']>=2015]
ht.count()

DATA_YEAR                 4160
STATE_ABBR                4160
STATE_NAME                4160
REGION_NAME               4160
OFFENSE_SUBCAT_NAME       4160
ACTUAL_COUNT              4160
UNFOUNDED_COUNT           4160
CLEARED_COUNT             4160
JUVENILE_CLEARED_COUNT    4160
dtype: int64

In [18]:
ht.dropna()

,DATA_YEAR,STATE_ABBR,STATE_NAME,REGION_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO,Missouri,Midwest,Commercial Sex Acts,2,0,2,0
1,2016,TX,Texas,South,Involuntary Servitude,1,0,0,0
2,2016,TX,Texas,South,Involuntary Servitude,2,0,0,0
3,2019,NV,Nevada,West,Commercial Sex Acts,15,0,4,0
4,2017,AZ,Arizona,West,Commercial Sex Acts,1,0,0,0
...,...,...,...,...,...,...,...,...,...
4412,2019,KY,Kentucky,South,Involuntary Servitude,2,0,0,0
4413,2019,KY,Kentucky,South,Involuntary Servitude,1,0,0,0
4414,2020,KY,Kentucky,South,Commercial Sex Acts,1,0,0,0
4415,2020,KY,Kentucky,South,Commercial Sex Acts,1,0,0,0
4416,2020,KY,Kentucky,South,Commercial Sex Acts,1,0,0,0

In [19]:
ht.rename(columns={'DATA_YEAR':'Year','STATE_ABBR':'State'},inplace=True)
ht.head()

,Year,State,STATE_NAME,REGION_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO,Missouri,Midwest,Commercial Sex Acts,2,0,2,0
1,2016,TX,Texas,South,Involuntary Servitude,1,0,0,0
2,2016,TX,Texas,South,Involuntary Servitude,2,0,0,0
3,2019,NV,Nevada,West,Commercial Sex Acts,15,0,4,0
4,2017,AZ,Arizona,West,Commercial Sex Acts,1,0,0,0

In [20]:
ps.rename(columns={'Incident.Location.State':'State','Incident.Date.Year':'Year',},inplace=True)
ps.count()

Person.Age                4294
Person.Gender             4294
Person.Race               4294
Incident.Date.Month       4294
Incident.Date.Day         4294
Year                      4294
Incident.Location.City    4294
State                     4294
Factors.Armed             4294
Factors.Threat-Level      4294
Factors.Fleeing           4294
Shooting.Manner           4294
dtype: int64

In [40]:
p_crimes= sc[['State',
 'Year','Data.Population',
 'Data.Rates.Property.All',
 'Data.Rates.Property.Burglary',
 'Data.Rates.Property.Larceny',
 'Data.Rates.Property.Motor','Data.Totals.Property.All',
 'Data.Totals.Property.Burglary',
 'Data.Totals.Property.Larceny',
 'Data.Totals.Property.Motor']]

p_crimes.head()

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor
55,Alabama,2015,4858979,328.3,2978.9,725.6,2040.7,15954,144746,35255,99156
56,Alabama,2016,4863300,2947.8,700.5,2006.3,241.1,143362,34065,97574,11723
57,Alabama,2017,4874747,2957.3,645.7,2048.1,263.4,144160,31477,99842,12841
58,Alabama,2018,4887871,2817.2,590.1,1958.9,268.3,137700,28841,95747,13112
59,Alabama,2019,4903185,2674.4,531.9,1886.1,256.5,131133,26079,92477,12577

In [41]:
v_crime=sc[['State',
 'Year','Data.Population',
'Data.Rates.Violent.All',
 'Data.Rates.Violent.Assault',
 'Data.Rates.Violent.Murder',
 'Data.Rates.Violent.Rape',
 'Data.Rates.Violent.Robbery','Data.Totals.Violent.All',
 'Data.Totals.Violent.Assault',
 'Data.Totals.Violent.Murder',
 'Data.Totals.Violent.Rape',
 'Data.Totals.Violent.Robbery']]

v_crime.head()

,State,Year,Data.Population,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,Data.Rates.Violent.Rape,Data.Rates.Violent.Robbery,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
55,Alabama,2015,4858979,472.4,94.9,7.2,42.0,30.0,22952,4611,348,2039,1456
56,Alabama,2016,4863300,532.3,388.2,8.4,39.4,96.4,25886,18877,407,1916,4686
57,Alabama,2017,4874747,524.2,387.8,8.3,41.6,86.5,25551,18902,404,2028,4217
58,Alabama,2018,4887871,519.6,387.6,7.8,40.8,83.4,25399,18944,383,1996,4076
59,Alabama,2019,4903185,510.8,381.0,7.3,42.2,80.4,25046,18679,358,2068,3941

In [25]:
sc.head()

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
55,Alabama,2015,4858979,328.3,2978.9,725.6,2040.7,472.4,94.9,7.2,...,30.0,15954,144746,35255,99156,22952,4611,348,2039,1456
56,Alabama,2016,4863300,2947.8,700.5,2006.3,241.1,532.3,388.2,8.4,...,96.4,143362,34065,97574,11723,25886,18877,407,1916,4686
57,Alabama,2017,4874747,2957.3,645.7,2048.1,263.4,524.2,387.8,8.3,...,86.5,144160,31477,99842,12841,25551,18902,404,2028,4217
58,Alabama,2018,4887871,2817.2,590.1,1958.9,268.3,519.6,387.6,7.8,...,83.4,137700,28841,95747,13112,25399,18944,383,1996,4076
59,Alabama,2019,4903185,2674.4,531.9,1886.1,256.5,510.8,381.0,7.3,...,80.4,131133,26079,92477,12577,25046,18679,358,2068,3941

In [48]:
sc.rename(columns={'State':'State_Name'},inplace=True)

In [56]:
inc_happ=1

In [57]:
ps['ps_happ']=inc_happ
ps.head()

,Person.Age,Person.Gender,Person.Race,Incident.Date.Month,Incident.Date.Day,Year,Incident.Location.City,State,Factors.Armed,Factors.Threat-Level,Factors.Fleeing,Shooting.Manner,ps_happ
0,53,Male,Asian,1,2,2015,Shelton,WA,gun,attack,Not fleeing,shot,1
1,47,Male,White,1,2,2015,Aloha,OR,gun,attack,Not fleeing,shot,1
2,23,Male,Hispanic,1,3,2015,Wichita,KS,unarmed,other,Not fleeing,shot and Tasered,1
3,32,Male,White,1,4,2015,San Francisco,CA,toy weapon,attack,Not fleeing,shot,1
4,39,Male,Hispanic,1,4,2015,Evans,CO,nail gun,attack,Not fleeing,shot,1

In [58]:
p_crimes.corr()['Data.Rates.Property.All']

Year                             0.488456
Data.Population                 -0.008997
Data.Rates.Property.All          1.000000
Data.Rates.Property.Burglary    -0.683198
Data.Rates.Property.Larceny      0.974456
Data.Rates.Property.Motor       -0.687850
Data.Totals.Property.All         0.096324
Data.Totals.Property.Burglary   -0.155709
Data.Totals.Property.Larceny     0.074168
Data.Totals.Property.Motor      -0.165591
Name: Data.Rates.Property.All, dtype: float64

In [59]:
v_crime.corr()['Data.Totals.Violent.All']

Year                          -0.000326
Data.Population                0.999028
Data.Rates.Violent.All         0.028740
Data.Rates.Violent.Assault     0.017660
Data.Rates.Violent.Murder      0.017395
Data.Rates.Violent.Rape       -0.058443
Data.Rates.Violent.Robbery     0.061060
Data.Totals.Violent.All        1.000000
Data.Totals.Violent.Assault    0.965402
Data.Totals.Violent.Murder     0.998220
Data.Totals.Violent.Rape       0.997448
Data.Totals.Violent.Robbery    0.946243
Name: Data.Totals.Violent.All, dtype: float64

In [63]:
sc.corr()[['Year']]

                                   Year
Year                           1.000000
Data.Population                0.002168
Data.Rates.Property.All        0.488456
Data.Rates.Property.Burglary  -0.693342
Data.Rates.Property.Larceny    0.438828
Data.Rates.Property.Motor     -0.668491
Data.Rates.Violent.All        -0.014675
Data.Rates.Violent.Assault     0.358842
Data.Rates.Violent.Murder      0.002038
Data.Rates.Violent.Rape        0.084813
Data.Rates.Violent.Robbery     0.143221
Data.Totals.Property.All       0.068854
Data.Totals.Property.Burglary -0.145550
Data.Totals.Property.Larceny   0.053920
Data.Totals.Property.Motor    -0.147456
Data.Totals.Violent.All       -0.000326
Data.Totals.Violent.Assault    0.053225
Data.Totals.Violent.Murder     0.001015
Data.Totals.Violent.Rape       0.011995
Data.Totals.Violent.Robbery    0.044036

In [64]:
ps.corr()[['Year']]

                         Year
Person.Age          -0.049331
Incident.Date.Month -0.197640
Incident.Date.Day   -0.049425
Year                 1.000000
ps_happ                   NaN

## Saving Modified Files

In [50]:
p_crimes.to_csv('AIT664_Final_Project_Data1.csv')

In [52]:
v_crime.to_csv('AIT664_Final_Project_Data2.csv')

In [54]:
ps.to_csv('AIT664_Final_Project_Data3.csv')

In [55]:
ht.to_csv('AIT664_Final_Project_Data4.csv')